h2{
    color:blue;
}
h2{
    color:white;
}
.encabezado{
    background-color:rgb(194, 172, 172);
    
}

.logo img{
    width: 100px;
}

.facebook img{
    width: 100px;
}
.instagram img{
    width: 100px;
}
.linkedin img{
    width: 100px;
}
.tiktok img{
    width: 100px;
}
.whatsapp img{
    width: 100px;
}